{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {
      generateScopedName: '[name]__[local]--[hash:base64:5]', // injected into react classnames
    }],
    "transform-class-properties",
    "transform-decorators-legacy",
  ]
}
