{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-spacing": 0,
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "jsx-quotes": 0,
    "no-debugger": 1,
    "quotes": 0,
    "react/jsx-wrap-multilines": 0,
    "jsx-a11y/html-has-lang": 0,
    "react/no-unused-prop-types": 0,
    "arrow-parens": 0,
    "react/sort-comp": 0,
  },
  "globals": {
	"window": true,
  	"document": true,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
